// Variable
$lightbrown: #BE7338
$darkbrown: #5A2D0C
$cafe: #FAE5C8
$nav-text-color: #FCE4BE
$nav-border: #C48B56
$footer-background: #B88E5E
$footer-foreground: #643916
$libary-sideitem-background: #FDE5CB

$xl: 1200px
$lg: 992px
$md: 768px
$sm: 576px

*
  font-family: Arial,Helvetica,sans-serif

.lightbrown
  color: $lightbrown !important

.darkbrown
  color: $darkbrown !important

body
  background-image: url("../images/background.jpg")
  .content
    background-image: url("../images/bg.png")
    box-shadow: -1px 3px 9px 2px #A9A8A5
    max-width: 1040px
    .header
      background-image: url("../images/bg-all.png")
      box-shadow: 1px 1px 12px 1px #B1956D
      .nav
        padding: 0px 15px
        >div
          padding: 0px
        #search-field
          #search-icon
            background-image: url('../images/icon-search.png')
            width: 42px
            position: absolute
            height: 35px
            top: 0px
            background-repeat: no-repeat
            background-size: contain
          input
            width: 100%
            border-radius: 0px
            border: 1px solid $nav-border
            height: 35px
            padding-left: 45px
            padding-right: 10px
            color: $darkbrown
            font-size: 13px

        #category-field
          width: 100%
          border-top: 1px solid $nav-border
          border-bottom: 1px solid $nav-border
          float: left
          cursor: pointer

          #category-box
            width: 75%
            height: 33px
            float: left
            background-color: white
            // overflow: hidden
          .collapsed
            overflow: hidden
          #category-name
            background-color: white
            line-height: 33px
            padding-left: 5px
            display: block
          #down-arrow
            position: absolute
            right: 27%
            top: 8px
          #search-btn
            width: 25%
            height: 33px
            border-radius: 0px
            background-color: $lightbrown
            color: $nav-text-color
            border: none

          #category-dropdown
            background-color: white
            width: 100%
            border: 1px  solid #aaa
            // border-top: 0px
            position: relative
            z-index: 100
            #category-input
              border: 1px solid #aaa
              padding: 4px
              width: 100%
            #categories
              height: 200px
              overflow-y: scroll
              span
                display: block
                width: 100%
                padding: 6px
                &:hover
                  background-color: #5897fb
              .chosen
                background-color: #dddddd
              .hidden
                display: none

.logo
  padding: 10px 30px

  @media screen and (min-width: $xl)
    white-space: nowrap

  .site-name
    font-size: 34px
    font-weight: bold
    vertical-align: middle
    padding: 15px

    @media screen and (min-width: $xl)
      font-size: 34px
    @media screen and (min-width: $lg) and (max-width: $xl)
      font-size: 30px
    @media screen and (min-width: $md) and (max-width: $lg)
      font-size: 26px
    @media screen and (min-width: $sm) and (max-width: $md)
      font-size: 20px
    @media screen and (max-width: $sm)
      font-size: 16px
      white-space: nowrap
      padding: 0px

    .dark-brown
      color: #5a2e0b
      padding-left: 4px
      padding-right: 4px

.authen-btn
  font-weight: bold
  border: 1px solid $lightbrown
  color: $lightbrown
  border-radius: 4px
  padding: 8px 10px 5px 10px
  display: inline-block
  margin: 24px 10px 20px 0px
  &:hover
    color: $lightbrown
    text-decoration: none

.thuvien-nav
  list-style-type: none
  display: flex
  height: 35px
  overflow: hidden
  #navitems
    margin: 0px
    width: 100%
  a.thuvien-navitem
    background-color: $lightbrown
    color: $nav-text-color
    display: inline-block
    margin-right: 1px
    font-size: 13px
    padding: 8px
    cursor: pointer
    white-space: nowrap
    text-align: center
    text-decoration: none
    &:last-child
      margin-right: 0
    &:hover
      color: $nav-text-color
      background-color: $darkbrown

  a.active
    background-color: $darkbrown
  a#home
    padding: 3px 9px 3px 9px !important
    i
      color: #f7e1c2

body
  .footer
    background-color: $footer-background
    color: $footer-foreground
    border-radius: 5px
    padding: 10px 30px
    box-shadow: 1px 1px 12px 1px #B1956D
    h4
      font-weight: bold
      font-size: 18px
      border-bottom: 1px solid $footer-foreground
      display: inline-block
    a
      display: block
      margin: 5px 0px
      color: $footer-foreground
      &:hover
        text-decoration: none

#home-slider
  .swiper-slide
    img
      width: 100%
  .swiper-button-next,
  .swiper-button-prev
    background-image: none
    display: none
    .crop-picture
      overflow: hidden
      width: 30px
      height: 30px
  &:hover
    .swiper-button-next,
    .swiper-button-prev
      display: block

  .swiper-pagination-bullet
    background-color: black
    width: 10px
    height: 10px
    cursor: pointer
    opacity: 100
    margin: 15px
    &:hover
      border: 3px solid #CDCDCD
  .swiper-pagination-bullet-active
    background-color: white

body
  .content
    .thuvien-door
      background-image: url('../images/thuvien.jpg')
      background-size: cover
      @media screen and (max-width: $md)
        min-height: 40vh
      .thuvien-button
        outline: none
        display: block
        background-color: white
        opacity: 0.8
        border: 2px solid $lightbrown
        border-radius: 5px
        color: $darkbrown
        font-weight: 600
        font-size: 14px
        width: 164px
        padding: 5px 10px
        position: absolute
        bottom: 15px
        left: 50%
        transform: translateX(-50%)
        cursor: pointer
        text-align: left
        + .dropdown-menu
          top: 100% !important
          left: 50% !important
          transform: translate(-50%, -15px) !important
          span.dropdown-item
            cursor: pointer
            padding-top: 8px
            padding-bottom: 8px
            &:hover
              background-color: #f5f5f5
            &:active
              color: black
              background-color: #ddd
          span.hasmore
            &::before
              content: '◀'
              padding-right: 15px
              font-size: 10px
              color: gray
        .extra
          color: $lightbrown
          font-size: 16px
      .showmore
        + .dropdown-menu
          top: 0px
          right: 100%
          left: unset
          &:hover
            display: block
        &:hover
          + .dropdown-menu
            display: block

.book-card
  .book-picture
    float: left
    box-shadow: 0px 3px 3px 0px #5f5f5f, 0px 3px 8px #ababab
    width: 100%
    height: 100%
    &:hover
      + .read-it
        display: block
  .read-it
    background-color: #D7BD9E
    opacity: 0.9
    position: absolute
    width: 100%
    bottom: 3px
    text-align: center
    padding: 5px 0px
    display: none
    color: $darkbrown
    font-weight: bold
    &:hover
      display: block
    a
      color: $darkbrown
      font-weight: bold
      padding: 0px 5px
      &:hover
        text-decoration: none

body
  .shadow-line
    width: 100%
    height: 10px
    background-image: url('../images/shadow_line.png')
    background-size: contain
    background-repeat: no-repeat
    background-position-x: center
    margin: 8px 0px
  .book-section
    background-image: url('../images/bg_layer_1.jpg')
    margin: 15px 0px
    padding: 15px
    border-radius: 5px
    box-shadow: 1px 1px 12px 1px #B1956D
    .section-title
      h4
        color: $darkbrown
        font-weight: bold
        font-size: 18px
        display: inline
        &::before
          content: url('../images/favicon.ico')
          padding-right: 8px
      em
        font-size: 14px
        color: $darkbrown
    .view-all
      a
        color: $lightbrown
        font-style: italic
        &:hover
          text-decoration: none
    .a-book
      height: 144px
      overflow: hidden
      .book-picture
        width: 96px
        height: 140px
        border-radius: 5px
        margin: 0px 10px
      .read-it
        width: 96px
        left: 10px
      .book-info
        font-size: 13px
        .book-title
          font-weight: bold
          display: block
          color: black
          &:hover
            text-decoration: none
        .book-author
          color: #015279
        hr
          margin: 3px
    .books-slide
      width: 100%
      height: 124px
      border-radius: 10px
      background-color: #d8be9e
      margin: 10px 0px
      .swiper-container
        height: 100%
        .swiper-wrapper
          .swiper-slide
            margin-top: auto
            margin-bottom: auto
            width: auto !important
            height: 100px
            img
              height: 100%
              box-shadow: 0 3px 3px 0 #5F5F5F, 0 3px 8px #ABABAB
              cursor: pointer
        %navigation-button
          background-size: initial
        .swiper-button-next
          @extend %navigation-button
          background-image: url('../images/next-arrow.png')
        .swiper-button-prev
          @extend %navigation-button
          background-image: url('../images/prev-arrow.png')

#book-picture-preview
  height: 300px
  display: block
  opacity: 0
  transition: opacity 0.5s
  position: fixed
  z-index: 1000
  border: 5px solid black
  box-shadow: 0px 0px 0px 3px gray

body
  .library-content
    display: flex
    #side-menu-toggler
      display: none
      @media screen and (max-width: $md)
        display: block
        position: fixed
        top: 50%
        left: 0px
        transform: translate(-50%, -50%)
        z-index: 900
        background-color: $libary-sideitem-background
        border-radius: 100%
        border-right: 1px solid $lightbrown
        cursor: pointer
        transition-duration: 1s
        img
          width: 50px
          position: relative
          left: 11px
          transition-duration: 0.2s
    .side-menu
      @media screen and (max-width: $md)
        position: fixed
        top: 0px
        left: -225px
        background-color: $libary-sideitem-background
        height: 100%
        overflow-y: scroll
        z-index: 1000
        padding-left: 15px
        transition-duration: 1s
      float: left
      width: 225px
      flex-shrink: 0
      padding: 15px
      padding-left: 0px
      margin-right: 15px
      border-right: 1px solid $lightbrown
      h5
        color: $darkbrown
        font-size: 14px
        font-weight: bold
        text-align: center
        margin-bottom: 0px
      .slide-menu-underline
        background-image: url('../images/menu-left-bg.png')
        height: 20px
        background-repeat: no-repeat
        background-size: contain
        background-position: center
        margin-top: -8px
      .menu
        padding-left: 0px
        z-index: 1200
        .menu-item
          list-style-type: none
          max-height: 36px
          overflow: hidden
          transition-duration: 0.5s
          a
            background-color: $libary-sideitem-background
            border-radius: 3px
            border: 1px solid #be682f
            color: $lightbrown
            font-size: 12px
            font-weight: bold
            width: 100%
            height: 32px
            padding: 6px
            margin: 2px 0px
            cursor: pointer
            display: inline-block
            &:hover
              text-decoration: none
              background-color: $lightbrown
              color: $darkbrown
          i.fa
            color: $darkbrown
            float: right
        .submenu
          padding: 0px
          .menu-item
            a
              background-color: $lightbrown
              color: #ecc582
              &:hover
                color: white
        .leaf
          font-weight: normal !important
          font-style: italic

    .right-content
      width: 100%
      padding: 12px 0px
      .hidden
        display: none
      #search-result
        font-size: 13px
        .container-fluid
          margin: 10px 0px
        .filter-panel
          background-color: $libary-sideitem-background
          border-radius: 5px
          border: 1px solid #be682f
          .col-12
            padding: 2px 15px    
          %filter-select
            height: 30px
            padding: 0px 10px
            color: #777
          .sort-by,
          .items-per-page
            @extend %filter-select            
            background-color: white
            border: 1px solid #be682f
            border-radius: 3px
          .page-number
            @extend %filter-select
            background-color: transparent
            border: none
          .page-navigator
            border: 1px solid #be682f
            padding: 6px 8px
            cursor: pointer
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
          .prev
            border-radius: 10px 0px 0px 10px
          .next
            border-radius: 0px 10px 10px 0px
        .book-section
          padding: 4px 24px          
        #results
      #category-items
        h5
          color: $darkbrown

.site-name
  font-size: 34px
  font-weight: bold
  vertical-align: middle
  padding: 15px

body
  .gioithieu
    background-image: url('../images/bg_layer_1.jpg')
    margin: 15px 0px
    border-radius: 5px
    box-shadow: 1px 1px 12px 1px #B1956D
    padding: 15px
    padding-top: 0px
    .tab-head
      .tab-name
        border-width: 0px 1px
        border-style: solid
        border-color: $lightbrown
        color: $darkbrown
        display: inline-block
        font-weight: bold
        padding: 4px 8px
        margin-left: -5px
        cursor: pointer
      .active
        color: $lightbrown
    .tab-content
      .hidden
        display: none

body
  .authen-section
    margin: 15px 0px
    .authen-title
      background-image: url('../images/authen-bg-middle.png')
      height: 36px
      background-size: contain
      display: inline-block
      white-space: nowrap
      margin-left: 10px
      a
        position: relative
        font-size: 18px
        color: $darkbrown
        top: -10px
        &:hover
          text-decoration: none
      &::before
        content: url('../images/authen-bg-left.png')
        margin-left: -10px
      &::after
        content: url('../images/authen-bg-right.png')
        margin-right: -20px
    hr
      background-color: $lightbrown
      margin-top: -4px
      margin-bottom: 1px
    .form-section
      background-color: $cafe !important
      margin: 15px 0px
      padding: 15px
      border-radius: 5px
      box-shadow: 1px 1px 12px 1px #B1956D
      a
        text-decoration: underline
      hr
        background-color: $lightbrown
      .form-submit
        padding: 10px 15px
        padding-bottom: 0px

.btn-brown
  background-color: $lightbrown
  color: #FCE4BE
  padding: 6px 15px

body.book-detail-page
  background-image: url('../images/bggg.jpg')
  .header
    font-size: 1.2vw
    font-weight: bold
    color: $lightbrown
    height: 50px
    margin-bottom: 20px
    img
      height: 35px
    span.active
      color: $darkbrown
    .shadow-line
      margin-top: 0px
    .desktop-navbar
      .tab-menu
        display: inline-block
        .a-tab
          cursor: pointer
          padding: 0px 0.6vw
          display: inline-block
          height: 100%
          line-height: 50px
          border-right: 1px solid $lightbrown
    .mobile-navbar
      display: none
    .add-to-shell-dropdown
      display: inline-block
    .add-to-shell-button
      cursor: pointer
      border-radius: 3px
      border: 1px solid $lightbrown
      color: $darkbrown
      background-color: transparent
      font-weight: bold
      padding: 8px 12px
      display: inline-block
      img
        height: 17px
    .add-to-shell-modal
      display: inline-block
    @media screen and (max-width: $md)
      .shadow-line
        display: none
      .desktop-navbar
        display: none
      .mobile-navbar
        display: block
        position: fixed
        z-index: 1000
        %mobile-navbar-component
          background-image: url('../images/background.jpg')
        .top-menu
          @extend %mobile-navbar-component
          width: 100vw
          padding: 8px 0px
          border-bottom: 1px solid $lightbrown
          .detail-page-logo
          .fa.fa-bars
            font-size: 35px
            float: left
            padding-left: 10px
            cursor: pointer
          .add-to-shell-modal,
          .add-to-shell-dropdown
            float: right
            margin-right: 5px
        .side-menu
          @extend %mobile-navbar-component
          position: fixed
          top: 52px
          left: -225px
          width: 225px
          height: 100vh
          transition-duration: 0.5s
          border-right: 1px solid $lightbrown
          .a-tab
            display: block
            font-size: 14px
            text-align: left
            padding: 10px 20px
            border-bottom: 1px solid $lightbrown
            cursor: pointer
  .detail-content
    max-width: 1000px
    .tab-body.hidden
      display: none
    #tab-info
      h2
        text-transform: uppercase
        font-size: 18px
        color: $darkbrown
        text-decoration: underline
      .info-section
        padding: 5px 15px 10px 15px
        font-size: 14px
        .info-name
          color: $darkbrown
          font-weight: bold
          &::after
            content: ': '
        .info-value
          color: $lightbrown
      .description-section
        padding: 5px 15px 10px 20px
        font-size: 14px
      .book-picture
        height: auto
      .read-it
        bottom: 48px
      .download-btn
        cursor: pointer
        border-radius: 3px
        border: 1px solid $lightbrown
        color: $darkbrown
        background-color: transparent
        font-weight: bold
        padding: 8px 12px
        display: inline-block
        margin-top: 10px
    #tab-reading
      iframe
        width: 100%
        height: 100vh
        #divsachlienquan
          position: absolute
          white-space: nowrap
    #tab-comment
      font-size: 14px
      .comment-box
        background-color: #F3D7B3
        border: 1px solid $lightbrown
        border-radius: 2px
        padding: 5px
        display: flex
        .comment-avatar
          width: 50px
          float: left
          margin: 0px 15px
          img
            width: 100%
        .comment-form
          width: 100%
          #comment-txt
            width: 100%
    #tab-relative

.picture-col
  padding: 0px
.a-relative-book,
.a-book-in-shell,
.a-result > .book-card
  height: 80%
  transform: scale(0.9)
  text-align: center        
  .book-picture
    border-radius: 5px
    box-shadow: 0px 2px 2px 2px #CAC6C6
    border: 4px solid white
    height: 100%
.book-name
  font-size: 12px
  font-weight: bold
  position: relative
  top: 5px

.modal
  font-weight: normal
  .modal-header
    background-color: #d5a16f
    h4      
      color: white
      font-size: 16px
      font-weight: normal
  .modal-body
    color: black

.header
  .user-control
    padding: 15px 20px 10px 0px
    .avatar
      width: 50px
    .dropdown
      display: inline-block
      .dropdown-toggle
        background: transparent
        color: $darkbrown
        border: none
        font-size: 14px
        cursor: pointer
        outline: none
        padding: 5px
        border-radius: 4px
      .dropdown-menu
        background-color: $darkbrown
        .dropdown-item
          color: #D5A16F
          font-size: 14px
          &:hover
            color: white
            background-color: $darkbrown
    .dropdown.show
      .dropdown-toggle
        background-color: $lightbrown
        color: white

body
  .authen-section
    overflow: hidden
    .avatar-editor
      #avatar-preview
        width: 150px
      #avatar-upload-icon
        cursor: pointer
      #avatar-upload
        display: none
    .form-submit
      width: 100%
    .a-user-info
      min-height: 25px
      margin: 10px 0px
      line-height: 25px

body
  .contact
    b
      font-size: 16px
    img
      max-width: 100%
      margin: 10px 0px
    @media screen and (min-width: $md)
      .contact-form
        border-left: 1px solid $lightbrown
  .collapsable-block
    max-height: 36px
    overflow: hidden
    transition-duration: 0.5s
    .block-title
      color: #DB9527
      font-weight: bold
      font-size: 14px
      cursor: pointer
      padding-left: 10px
      margin-bottom: 8px
      i.fa
        position: relative
        top: 4px
    .block-content
      padding-left: 28px